<!--
  The paginator for post list on HomgPage.
-->
<!-- Count how many posts have 3dart tag -->
{% assign count_3dart = 0 %}
{% assign totalPosts = 0 %}
{% for post in site.posts %}
  {% if post.tags.first == "3dart" %}
    {% assign count_3dart = count_3dart | plus: 1 %}
  {% endif %}
  {% assign totalPosts = totalPosts | plus: 1 %}
{% endfor %}
{% assign totalnoart = totalPosts | minus: count_3dart%}
<!-- LIQUID TEMPLATES ARE GARBAGE -->
{% assign my_float = site.paginate | times: 1.0 %}
{% assign mytotal_pages = totalnoart | divided_by: my_float %}
{% assign rounded_up = mytotal_pages | plus: 0.9999 | floor %}
<ul class="pagination align-items-center mt-4 mb-0 pl-lg-2">
  <!-- left arrow -->
  {% if paginator.previous_page %}
    {% assign prev_url = paginator.previous_page_path | relative_url %}
  {% else %}
    {% assign prev_url = "#" %}
  {% endif %}

  <li class="page-item {% unless paginator.previous_page %}disabled{% endunless %}">
    <a class="page-link btn-box-shadow" href="{{ prev_url }}" aria-label="previous-page">
      <i class="fas fa-angle-left"></i>
    </a>
  </li>

  <!-- page numbers -->
  {% assign left_ellipsis = false %}
  {% assign right_ellipsis = false %}
  {% for i in (1..rounded_up) %}

    {% assign pre = paginator.page | minus: 1 %}
    {% assign next = paginator.page | plus: 1 %}
    {% assign pre_less = pre | minus: 1 %}
    {% assign next_more = next | plus: 1 %}
    {% assign show = false %}

    {% if paginator.page == 1 %}
      {% if i <= 3 or i == rounded_up %}
        {% assign show = true %}
      {% endif %}
    {% elsif paginator.page == rounded_up %}
      {% if i == 1 or i >= pre_less %}
        {% assign show = true %}
      {% endif %}
    {% else %}
      {% if i == 1 or i == rounded_up%}
        {% assign show = true %}
      {% elsif i >= pre and i <= next %}
        {% assign show = true %}
      {% endif %}
    {% endif %}

    {% if show %}
      <!-- show number -->
      <li class="page-item {% if i == paginator.page %} active{% endif %}">
        <a class="page-link btn-box-shadow" href="{{ site.baseurl }}/{% if i > 1%}page{{ i }}/{% endif %}">{{ i }}</a>
      </li>
    {% else %}
      <!-- hide number -->
      {% if i < pre and left_ellipsis == false %}
        <li class="page-item disabled">
          <span class="page-link btn-box-shadow">...</span>
        </li>
        {% assign left_ellipsis = true %}
      {% elsif i > next and right_ellipsis == false %}
        <li class="page-item disabled">
          <span class="page-link btn-box-shadow">...</span>
        </li>
        {% assign right_ellipsis = true %}
      {% endif %}
    {% endif %}

  {% endfor %}

  <!-- mobile pagination -->
  <li class="page-index align-middle">
    <span>{{ paginator.page }}</span>
    <span class="text-muted">/ {{ rounded_up }}</span>
  </li>

  <!-- right arrow -->
  {% if paginator.next_page_path %}
    {% assign next_url = paginator.next_page_path | relative_url %}
  {% else %}
    {% assign next_url = "#" %}
  {% endif %}

  <li class="page-item {% unless paginator.next_page_path %}disabled{% endunless %}">
    <a class="page-link btn-box-shadow" href="{{ next_url }}" aria-label="next-page">
      <i class="fas fa-angle-right"></i>
    </a>
  </li>

</ul> <!-- .pagination -->
